# User-specific files
*.suo
*.user

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
build/
bld/
[Bb]in/
[Oo]bj/

# DS homebrew specific
build_[dr]
*.elf
*.arm[79]
*.nds

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# Other
*.wwdb

Tools/desmume/desmume.ini
Tools/desmume/Battery/
Editor/Zelous/package/Zelous/
